*.build
*.deb
*.tar.gz
*.dsc
*.changes
*.debhelper.log
*.debhelper
*.substvars
*/debian/wb-rules-system/*
*.swp
*.un~

**/debian/files
**/debian/*.debhelper
**/debian/*.debhelper.log
**/debian/*.substvars

.tern-port
debian/wb-rules-system

node_modules/
