Source: wb-rules-system
Section: unknown
Priority: optional
Maintainer: Evgeny Boger <boger@contactless.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>

Package: wb-rules-system
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, wb-rules (>= 1.7), wb-utils (>= 2.1)
Recommends: linux-image-wb2 | linux-image-wb6 (>= 4.9+wb20180729224630) 
Description: Default system rules for Wiren Board
